


<div class="container" dir="rtl">
    <button routerLink="/usermanagement" class="btn btn-info text-white me-auto ">
        Settings <i class="fa-solid fa-gear fa-1x"></i>
    </button>

    <div class="row mt-5 justify-content-around align-items-center text-center">
       
        <div class="col-md-3 col-sm-12 mb-sm-3 control shadow d-flex align-items-center justify-content-center">
            <a routerLink="">
                <span class="">توكيلات</span>
            </a>
        </div>
        <div class="col-md-3 col-sm-12 mb-sm-3 control shadow d-flex align-items-center justify-content-center">
            <a routerLink="">
                <p>قضايا</p>
            </a>
        </div>
        <div class="col-md-3 col-sm-12 mb-sm-3 control shadow d-flex align-items-center justify-content-center">
            <a routerLink="/contracts">
                <p>عقود</p>
            </a>

        </div>
    </div>
</div>


