.control{
    height: 5em;
    color: white;
    font-weight: 700;
    font-size: 35px;
    background: rgb(23,49,86);
    background: linear-gradient(90deg, rgb(23,49,86)  0%, #E4E5E6 100%);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
   
}

.control:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.container{
    margin-top: 8%;
}

a{
    text-decoration: none;
    color: white;
}

